<footer class="footer mt-auto py-3 bg-greenish text-light text-center">
    <div class="container">
      <span>&copy; Kampiraj u BiH <%= new Date().getFullYear() %> | <a href="/campgrounds">Početna</a> | <a href="/campgrounds/new">Novi kamp</a></span>
          <p class="mt-2 mb-0">Izradio <a href="https://github.com/ajdinkomic">Ajdin Komić</a></p>
    </div>
  </footer>
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <!-- Bootstrap JS CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>
</html>